<section class="section-features">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <div class="feature-box__icon">
          <mat-icon>language</mat-icon>
        </div>

        <h3 class="heading-tertiary u-margin-botton-small">
          Explore the world
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet qui
          voluptatum facere quis quibusdam quasi ad maiores totam error impedit
          consequuntur.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <div class="feature-box__icon">
          <mat-icon>language</mat-icon>
        </div>

        <h3 class="heading-tertiary u-margin-botton-small">
          Explore the world
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet qui
          voluptatum facere quis quibusdam quasi ad maiores totam error impedit
          consequuntur.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <div class="feature-box__icon">
          <mat-icon>language</mat-icon>
        </div>

        <h3 class="heading-tertiary u-margin-botton-small">
          Explore the world
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet qui
          voluptatum facere quis quibusdam quasi ad maiores totam error impedit
          consequuntur.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <div class="feature-box__icon">
          <mat-icon>language</mat-icon>
        </div>

        <h3 class="heading-tertiary u-margin-botton-small">
          Explore the world
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet qui
          voluptatum facere quis quibusdam quasi ad maiores totam error impedit
          consequuntur.
        </p>
      </div>
    </div>
  </div>
</section>
