$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-gray-light-1: #f7f7f7;
$color-block: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
.section-tours {
  background-color: $color-gray-light-1;
}
